@charset "utf-8";

@font-face{
	font-family:'NanumGothic';
	font-style: normal;
	src: url('../font/NanumGothic.eot');
	src: local('¢®¨ª'),url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'), url('../font/NanumGothic.woff') format('woff'), url('../font/NanumGothic.ttf') format('truetype');
}
@font-face{
	font-family:'NanumGothicBold';
	font-style: normal;
	font-weight:bold;
	src: url('../font/NanumGothicBold.eot');
	src: local('¢®¨ª'),url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'), url('../font/NanumGothicBold.woff') format('woff'), url('../font/NanumGothicBold.ttf') format('truetype');
}
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
fieldset,img{border:0 none;vertical-align:middle;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
input,select,textarea,button {vertical-align:middle;}
input::-moz-focus-inner {margin:0; padding:0; border:0;}
button {border:0 none;background-color:transparent;cursor:pointer;}
button::-moz-focus-inner {margin:0; padding:0; border:0;}
body {background: url(../img/bg_con.png) repeat;}
/* body {background:transparent;} */
body,th,td,input,select,textarea,button,a{font-size:14px;line-height:1.5;font-family:'NanumGothic','돋움',dotum,Arial;-webkit-text-size-adjust:none;color:#707070;}
a, a:link, a:visited, a:hover, a:active, a:focus{color:#707070;text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal;}
caption{display:none;}
table{border-collapse:collapse;}
strong,b{font-family:"NanumGothicBold", "돋움", "굴림", Dotum, Gulim, sans-serif;}
.bold{font-family:"NanumGothicBold" !important;}
label{cursor:pointer;}
html,body{min-height:100%;}

/* html5 reset*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

.po-r{position:relative;}
.fl{float:left;}
.clefix{*zoom:1; }
.clefix:after{display:block;clear:both;content:'';}
.screen-out{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;}

.wrap{width:100%;}
.wrap1{position:absolute;box-sizing:border-box;width:100%;height:100%;background:url(../img/bg_con.png) repeat;}
/* header */
.box-header1{width:100%;height:32px;background:url(../img/bg_header1.png) repeat-x;background-size:cover;}
.box-header2{position:relative;width:100%;height:49px;background:url(../img/bg_header2.png) repeat-x;background-size:100%;}
.tit-h1{width:100%;height:49px;text-align:center;line-height:49px;}
.tit-h1 img{width:154px;}

.box-log{width:93.75%;height:26px;padding-top:3px;margin:0px auto;text-align:right;}
.txt-name{display:inline-block; padding-left:5px;background:url(../img/bar.png) no-repeat left center;background-size:1px 9px;color:#fff;font-size:11px;}

.wrap-con{position:relative;width:94%;padding:0px 3% 10px 3%;background:url(../img/bg_con.png) repeat;}
.wrap-con1{width:100%;box-sizing:border-box;padding:80px 3%;}
/* 항목박스 */
.box-rad{padding:5px 0;text-align:right;}

/* 검색박스 */
.wrap-search{box-sizing:border-box; width:100%;padding:0px 15px;background:#222;}
.box-search1{padding:7px 0;border-bottom:2px solid #1b1b1b;}
.box-search2{padding:7px 0;}
.txt-date{display:inline-block;width:19%;color:999999;line-height:20px;}

.box-search-result{box-sizing:border-box; width:100%;padding:10px 15px 0 15px;font-size:12px;color:#ffffff;}
.box-search-result .txt-result1{font-weight:bold;}
.box-search-result .txt-result2{font-weight:bold;color:#ff8a00;}
/* gnb */
.gnb{margin-bottom:5px;}
.lis-gnb{padding-top:20px;}
.lis-gnb:after{clear:both;content: '';display:block;}
.lis-gnb li{float:left;width:25%;height:30px;}
.lis-gnb li a{box-sizing:border-box;display:block;width:100%;height:30px;border-top:1px solid #555;border-bottom:1px solid #555;border-right:1px solid #555; text-align:center;font-size:12px;color:#888888;line-height:30px;}
.lis-gnb li:first-child a{border-left:1px solid #555;}
.lis-gnb li.active a{border-color:#888;border-top:4px solid #f47320;font-family: bold;color:#ffffff;line-height:22px;}

/* 메인리스트항목 */
.wrap-list{width:100%;padding:5px 0;}
.box-menu-list{margin-bottom:10px; }
.menu-date{height:24px;padding-right:7px;background:#111;text-align:right;color:#999;font-size:10px;line-height:24px;}
.box-menu{padding-bottom:5px;background:#222;}
.box-menu-sub{padding:15px 10px;border-bottom:1px solid #3b3b3b;}
.box-menu-sub1{padding:0px 10px;}

.box-leader{padding:15px 5px;}
.box-leader:after{clear:both;content: '';display:block;}
.box-leader-sub1{float:left;width:50%;}
.dls-leader{width:100%;}
.dls-leader:after{clear:both;content: '';display:block;}
.dls-leader dt{float:left;width:50%;font-family:"NanumGothicBold";font-size:14px;color:#fff;}
.dls-leader dt span{color:#ff8a00;}
.dls-leader dt span.txt-leader-name{margin-left:5px;text-decoration:underline;color:#fff;}
.dls-leader dd{float:left;width:23%;}
.dls-leader dd.second{width:27%;}
.dls-leader dd.rest-txt{float:left;width:40%;height:22px;padding-right:10px;box-sizing:border-box;border-right:1px solid #444444;text-align:right;}
.dls-leader dd.rest-txt1{float:left;width:50%;height:22px;box-sizing:border-box;text-align:right;}
.box-state{height:15px;color:#fff;font-size:10px;line-height:15px;}
.box-state:after{clear:both;content: '';display:block;}


.layer-leaders{box-sizing:border-box; position:fixed;top:100px;width:94%;left:50%;margin-left:-47%;border:1px solid #222222; background:#fff;z-index:14;color:#222222;font-size:14px;}
.layer-box-leaders{padding:10px;}
.dls-leaders{width:100%;}
.dls-leaders:after{clear:both;content: '';display:block;}
.dls-leaders dt{float:left;width:24%;padding-top:10px;font-family:"NanumGothicBold";font-size:14px;color:#fff;}
.dls-leaders dt span{color:#ff8a00;}
.dls-leaders dt .txt-leader-name1{margin-left:5px;color:#444444;}
.dls-leaders dt .txt-leader-name2{margin-left:5px;color:#444444;padding-left:20px;background:url(../img/ico_star.png) left center no-repeat;background-size:15px 15px;}
.dls-leaders dt .txt-leader-name3{margin-left:5px;color:#444444;padding-left:20px;}
.dls-leaders dd{float:left;width:38%;}
.dls-leaders dd.second{padding-top:12px;}
.dls-leaders dd.rest-txt{float:left;width:40%;height:22px;padding-right:10px;box-sizing:border-box;border-right:1px solid #444444;text-align:right;}
.dls-leaders dd.rest-txt1{float:left;width:50%;height:22px;box-sizing:border-box;text-align:right;}
.box-state1{height:18px;color:#444;font-size:11px;line-height:18px;}
.box-state1:after{clear:both;content: '';display:block;}


.tbl-menu{width:100%;}
.tbl-menu td{font-size: 14px;color:#fff;font-family:"NanumGothicBold";vertical-align:top;}
.tbl-menu td.detail{padding-right:15px;font-size:15px;}
.tbl-menu1{width:100%;background:#111;}
.tbl-menu1 td{padding:10px 0;border-bottom:1px solid #202020;font-size:14px;color:#fff;font-family:"NanumGothicBold";vertical-align:top;}
.tbl-menu1 td.detail{padding-right:15px;}
.tbl-menu1 td:nth-child(3){vertical-align:middle;}
.tbl-menu1 td:last-child{vertical-align:middle;}
.tbl-menu1 tr:last-child td{border-bottom:0;}
.tbl-menu1 tr.dis_end td{color:#999999;background:#111111;}

.box-list-sub{padding:0px 10px;background:#111;}
.box-task{padding:0px 10px;margin:10px 0;}
a.txt-under{text-decoration:underline;color:#fff;}
.txt-dates{font-size:10px;}

/* layer popup */
.layer-signal{display:none;position:fixed;width:200px;top:100px;left:50%;margin-left:-100px;z-index:13;}
.layer-signal img{width:100%;}
.layer-contact{display:none;position:absolute;width:300px;top:35px;left:10px;padding:20px;background:#fff;z-index:13;color:#222222;font-size:14px;cursor:auto;}
.layer-contact .contact-sub{padding:15px 0;border:1px solid #fff;background:#fff;}
.tit-contact{display:block;font-weight:bold;}
.email{display:block;height:12px;padding-left:15px;background: url(../img/ico_mail.png) left center no-repeat;line-height:12px;background-size:12px 8px;font-size:10px;}
.tel{display:block;height:12px;padding-left:15px;background: url(../img/ico_tel.png) left center no-repeat;line-height:12px;background-size:11px 11px;font-size:10px;}

.layer-member{box-sizing:border-box;}
.layer-member .member-sub{padding:5px 0;border:1px solid #fff;background:#fff;}
.list-member li{padding:0px 10px;border-bottom: 1px solid #ddd;}
.list-member li.last{border-bottom:0;padding-bottom:0px;padding-top:5px;}
.dls-member{padding:2px 0;}
.dls-member dt{display:block;font-size:10px;height:20px;font-family:"NanumGothicBold";}
.dls-member dd{display:block;font-size:10px;font-family:"NanumGothic";}
.list-member li .txt-dam{font-family:"NanumGothicBold";font-size:10px;}
.layer-notice{box-sizing:border-box;position:fixed;top:30px;left:0;width:100%;border:1px solid #222; background:#fff;z-index:14;color:#222;font-size:14px;}
.box-notice{position:relative;box-sizing:border-box;top:0px;left: 0;width:100%;padding:0px 0%;overflow: hidden;z-index: 1;background:#fff;}

.tit-notice{color:#444;padding:5px 10px;border-bottom:1px solid #dddddd;background:#eee;font-size:14px;text-align:center;font-weight:bold;}
.tit-notice1{color:#444;padding:5px 10px;border-bottom:1px solid #dddddd;font-size:14px;text-align:left;font-weight:bold;}
.notice-titles1{padding:12px 10px 0 12px;color:#636363;font-size:10px;}
.notice-titles2{padding:0px 10px 5px 10px;border-bottom:1px solid #dcdcdc; color:#444;font-size:15px;}
.tbl-notice{width:100%;margin-top:10px;border:1px solid #dddddd;}
/* 160404 font size */
.tbl-notice th{padding:10px 0;height:auto;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;background:#eeeeee;color:#222222;font-size:14px;text-align:center;}
.tbl-notice td{padding:10px;border-bottom:1px solid #dddddd;color:#222222;font-size:14px;text-align:left;}
/* //160404 font size 10 > 14 */

.layer-issue{display:none;box-sizing:border-box; position:fixed;top:100px;width:270px;left:50%;margin-left:-135px;border:1px solid #222222; background:#fff;z-index:14;color:#222222;font-size:14px;}
/* 160404 font size */
.issue-sub{padding:10px;font-size:14px;color:#222222;}
/* //160404 font size 11 > 14*/


.layer-alarm{box-sizing:border-box; position:fixed;top:20px;width:100%;height:auto;left:0;border:1px solid #222222; background:#fff;z-index:20;color:#222222;font-size:14px;}
.box-alarm{height:100%;background:#fff;}
.lst-alarm{border-left:1px solid #ddd;border-right:1px solid #ddd;}
.lst-alarm li{border-bottom:1px solid #ddd;}
.dls-alarm{display:table;width:100%;}
.dls-alarm dt{box-sizing:border-box;display:table-cell; width:26%;border-right:#ddd;background:#eee;text-align:center;vertical-align:middle;font-size:11px;}
.dls-alarm dd{box-sizing:border-box;display:table-cell;width:74%;padding:10px;background:#fff;text-align:left;}
p.txt-orange{color:#f47320;font-size:11px;font-family:"NanumGothicBold";}
p.txt-unitname{color:#222;font-size:11px;font-family:"NanumGothicBold";}
p.txt-detail-task{color:#707070;font-size:11px;}
p.txt-dates{color:#707070;font-size:11px;}
.scroller {position:relative;z-index: 1;-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	padding:0px 0;
	background:#fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#wrapper {position:absolute;box-sizing:border-box;top:32px;left: 0;width:100%;height:90%;padding:0px 0%;overflow: hidden;z-index: 1;}
#backgroundPopup1{background-color:transparent;position:fixed;top:0;left:0;height:100%;width:100%;z-index:10;opacity: 0.4;}
#backgroundPopup2{background-color:#000;position:fixed;top:0px;left:0;height:100%;width:100%;z-index:10;opacity: 0.7;}

/* input */
.inp-date{box-sizing:border-box;width:36.5%;height:20px;padding-left:5px;border:1px solid #9a9a9a;background:#fff url(../img/ico_cal.png) 90% center no-repeat;cursor: pointer;background-size:9px 9px;}
.inp-date1{background:#fff;}
.inp-search{box-sizing:border-box;width:50%;height:20px;border:1px solid #9a9a9a;}
.inp-id{box-sizing:border-box;display:block;width:100%;height:35px;padding-left:10px;margin-bottom:5px;background:#fff;border-radius:5px;border:0;color:#999;}
.inp-pw{box-sizing:border-box;display:block;width:100%;height:35px;padding-left:10px;background:#fff;border-radius:5px;border:0;color:#999;}
.slc-search{display:inline-block;box-sizing:border-box;width:23%;height:20px;margin-right:3px;border:1px solid #9a9a9a;font-size:10px;line-height:18px;color:#707070;}

.btn-week{display:inline-block;width:70px;height:35px;margin-left:20px;background: url(../img/btn_week.png) no-repeat;}
.btn-month{display:inline-block;width:70px;height:35px;margin-left:10px;background: url(../img/btn_month.png) no-repeat;}

.btn-up{display:inline-block;width:25px;height:24px;margin-left:10px;background: url(../img/ico_up.png) no-repeat;}
.btn-down{display:inline-block;width:25px;height:24px;margin-left:10px;background: url(../img/ico_down.png) no-repeat;}
.btn-print{display:inline-block;width:150px;height:40px;background:url(../img/btn_print.png) no-repeat;}
.btn-x{display:block;position:absolute;top:10px;right:15px;width:13px;height:13px;background:url(../img/btn_x.png) no-repeat;background-size:100%;}
.btn-x1{display:block;position:absolute;top:15px;right:15px;width:13px;height:13px;background:url(../img/btn_x.png) no-repeat;background-size:100%;}
/* 2016-02-23 수정 */
.btn-x2{display:block;position:absolute;top:9px;right:15px;width:13px;height:13px;background:url(../img/btn_x.png) no-repeat;background-size:100%;}
/* //2016-02-23 수정 */

.btn-alarm{display:inline-block;position:relative;top:0px;width:13px;height:14px;margin-right:3px; background: url(../img/btn_alarm.png) no-repeat;background-size:100%;}
.btn-logout{display:inline-block;width:60px;height:22px;background:url(../img/btn_logout.png) no-repeat;background-size:100%;}
.btn-signal{display:block;position:absolute;top:12px;left:3%;width:25px;height:26px;margin-right:3px; background: url(../img/btn_mark.png) no-repeat;background-size:100%;}
.btn-search{display:block;position:absolute;top:16px;right:3%;width:17.5px;height:17.5px;margin-right:3px; background: url(../img/ico_search.png) no-repeat;background-size:100%;}
.btn-search1{display:inline-block;width:21%;height:20px;margin-left:3px;border-radius:3px;background:#636363;text-align:center;color:#fff;font-family:"NanumGothicBold";font-size:12px;}
.btn-tel{display:inline-block;width:49px;height:48px;background:url(../img/btn_tel.png) no-repeat;background-size:100%;}
.btn-mail{display:inline-block;width:49px;height:48px;background:url(../img/btn_mail.png) no-repeat;background-size:100%;}
.btn-task{display:block;width:100%;height:23px;border:1px solid #727272;border-radius:5px;color:#fff;}
.btn-login{display:block;width:100%;height:30px;border-radius:5px;background:#f47320;text-align:center;font-size:14px;color:#fff;font-family:"NanumGothicBold";}
.btn-trash{display:inline-block;width:21px;height:21px;margin-top:8px;background:url(../img/btn_trash.png) no-repeat;background-size:100%;}
.btn-google-login{display:block;text-align:center;font-size:24px;color:#fff;font-family:"NanumGothicBold";}


.ico-y{display:inline-block;width:30px;height:32px;background: url(../img/ico_y.png) no-repeat;margin-top:1px;background-size:100%;}
.ico-r{display:inline-block;width:30px;height:32px;background: url(../img/ico_r.png) no-repeat;margin-top:1px;background-size:100%;}
.ico-g{display:inline-block;width:30px;height:32px;background: url(../img/ico_g.png) no-repeat;margin-top:1px;background-size:100%;}
.ico-ys{display:inline-block;width:30px;height:32px;background: url(../img/ico_y.png) no-repeat;margin-top:1px;background-size:100%;}
.ico-rs{display:inline-block;width:30px;height:32px;background: url(../img/ico_r.png) no-repeat;margin-top:1px;background-size:100%;}
.ico-gs{display:inline-block;width:30px;height:32px;background: url(../img/ico_g.png) no-repeat;margin-top:1px;background-size:100%;}

.ico-b{display:inline-block;padding-left:30px;background: url(../img/ico_b.png) left 3px no-repeat;background-size:25px 15px;}
.ico-b1{display:inline-block;position:relative;top:3px;width:25px;height:15px;margin-right:5px;background: url(../img/ico_b.png) no-repeat;background-size:25px 15px;}

.ico-state1{display:inline-block;position:relative;top:0px;width:30px;height:20px;margin-right:5px;background: url(../img/ico_state1.png) no-repeat;background-size:100%;}
.ico-state2{display:inline-block;position:relative;top:0px;width:30px;height:20px;margin-right:5px;background: url(../img/ico_state2.png) no-repeat;background-size:100%;}
.ico-state3{display:inline-block;position:relative;top:0px;width:30px;height:20px;margin-right:5px;background: url(../img/ico_state3.png) no-repeat;background-size:100%;}
.ico-state4{display:inline-block;position:relative;top:0px;width:30px;height:20px;margin-right:5px;background: url(../img/ico_state4.png) no-repeat;background-size:100%;}
.ico-state5{display:inline-block;position:relative;top:0px;width:30px;height:20px;margin-right:5px;background: url(../img/ico_state5.png) no-repeat;background-size:100%;}

.ico-state1_b{display:inline-block;position:relative;top:0px;width:30px;height:18px;margin-right:5px;background: url(../img/ico_state1_b.png) no-repeat;background-size:100%;}
.ico-state2_b{display:inline-block;position:relative;top:0px;width:30px;height:18px;margin-right:5px;background: url(../img/ico_state2_b.png) no-repeat;background-size:100%;}
.ico-state3_b{display:inline-block;position:relative;top:0px;width:30px;height:18px;margin-right:5px;background: url(../img/ico_state3_b.png) no-repeat;background-size:100%;}
.ico-state4_b{display:inline-block;position:relative;top:0px;width:30px;height:18px;margin-right:5px;background: url(../img/ico_state4_b.png) no-repeat;background-size:100%;}
.ico-state5_b{display:inline-block;position:relative;top:0px;width:30px;height:18px;margin-right:5px;background: url(../img/ico_state5_b.png) no-repeat;background-size:100%;}


.ico_state1s{display:inline-block;position:relative;top:2px;width:35px;height:18px;background: url(../img/ico_state1_s.png) no-repeat;}
.ico_state2s{display:inline-block;position:relative;top:2px;width:35px;height:18px;background: url(../img/ico_state2_s.png) no-repeat;}
.ico_state3s{display:inline-block;position:relative;top:2px;width:35px;height:18px;background: url(../img/ico_state3_s.png) no-repeat;}
.ico_state4s{display:inline-block;position:relative;top:2px;width:35px;height:18px;background: url(../img/ico_state4_s.png) no-repeat;}
.ico_state5s{display:inline-block;position:relative;top:2px;width:35px;height:18px;background: url(../img/ico_state5_s.png) no-repeat;}

.ico-down{display:inline-block;width:10px;height:7px;background: url(../img/ico_down.png) no-repeat;background-size:100%;}
.ico-up{display:inline-block;width:10px;height:7px;background: url(../img/ico_up.png) no-repeat;background-size:100%;}

.dis_end .ico_state1s{opacity: 0.7;}
.dis_end .ico_state2s{opacity: 0.7;}
.dis_end .ico_state3s{opacity: 0.7;}
.dis_end .ico_state4s{opacity: 0.7;}
.dis_end .ico_state5s{opacity: 0.7;}

.dis_end .ico-ys{opacity: 0.7;}
.dis_end .ico-rs{opacity: 0.7;}
.dis_end .ico-gs{opacity: 0.7;}


.ico-new{display:block;position:absolute;top:0;left:10px;width:8px;height:8px;background:url(../img/ico_new.png) no-repeat;background-size:100%;}
.ico-ok{display:inline-block;position:relative;width:30px;height:15px;background: url(../img/btn_ok.png) no-repeat;background-size:100%;}

/* paging */
.wrap-paging{position:relative;height:26px;padding-bottom:10px;text-align:center;}
.wrap-paging a{display:inline-block;width:26px;height:26px;background:#707070; color:#fff;font-family:"NanumGothicBold";font-size:19px;text-align:center;line-height:26px;}
.wrap-paging a.prev{position:relative;top:7px;background:#707070 url(../img/btn_prev.png) center center no-repeat; background-size:8px 14px;}
.wrap-paging a.next{position:relative;top:7px;background:#707070 url(../img/btn_next.png) center center no-repeat; background-size:8px 14px;}
.wrap-paging a.prev1{position:relative;top:7px;background:#707070 url(../img/btn_prev1.png) center center no-repeat; background-size:13px 14px;}
.wrap-paging a.next1{position:relative;top:7px;background:#707070 url(../img/btn_next1.png) center center no-repeat; background-size:13px 14px;}
.wrap-paging a.on{color:#fff;background:#f05e1a;}


/* radio */
input[type="radio"]{display:none;}
input[type="radio"] + label.inp-rad{display:inline-block;height:11px;padding-left:15px;margin-left:10px;background: url(../img/rad.png) left center no-repeat;background-size:11px 11px;font-family:"NanumGothic";color: #fff;line-height:11px;font-size:12px;}
input[type="radio"]:checked + label.inp-rad{background: url(../img/rad_on.png) left center no-repeat;background-size:11px 11px;}

input[type="checkbox"]{display:none;}
input[type="checkbox"] + label.inp-chk{display:inline-block;height:12px;padding-left:16px;margin-left:10px;background: url(../img/chk.png) left center no-repeat;background-size:12px 12px;font-family:"NanumGothic";line-height:12px;font-size:12px;color:#fefefe;}
input[type="checkbox"]:checked + label.inp-chk{background: url(../img/chk_on.png) left center no-repeat;background-size:12px 12px;}


.mR5{margin-right:5px;}

/* login */
.wrap-login{}
.box-login{padding-top:5px;border-radius:5px;background:#f47320;}
.box-login-1{padding:15px 20px;background:#222222;}
.tit-lock{width:135px;margin-bottom:10px;}
.tit-lock img{width:100%;}
.box-chk{padding-top:5px;text-align:right;}
.field-login{}
.box-btn-login{border-top:1px solid #111111;padding:15px 20px;border-radius:0 0 5px 5px;background:#222222;}

/* 암막 */
#backgroundPopup{background-color:#000;position:fixed;top:0;left:0;height:100%;width:100%;z-index:10;opacity: 0.4;}

/* 원 프로그래시브 */

.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top:5px;
}

.dis_end .pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
  background: #111;
  opacity: 0.7;
}
.demo-pie-1{height:30px;}
.demo-pie-2{height:30px;}

.pie-value {
  display: block;
  position: absolute;
  font-size:14px;
  height: 30px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -13px;
  line-height: 30px;
  font-size:10px;
  color:#fff;
}
.container { margin:150px auto; max-width:400px;}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial { 
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #444;
  background-color: #f47320;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #222222;
  border-radius: 50%;
  margin-left: 2.5px;
  margin-top: 2.5px;
  text-align: center;
  line-height: 25px;
  font-size: 10px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #f47320 50%, #444 50%, #444);
}
.progress-10 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #f47320 50%, #444 50%, #444);
}
.progress-20 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #f47320 50%, #444 50%, #444);
}
.progress-30 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #f47320 50%, #444 50%, #444);
}
.progress-40 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #f47320 50%, #444 50%, #444);
}
.progress-50 {
  background-image: linear-gradient(-90deg, #f47320 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f47320 50%, #444 50%, #444);
}
.progress-60 {
  background-image: linear-gradient(-54deg, #f47320 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f47320 50%, #444 50%, #444);
}
.progress-70 {
  background-image: linear-gradient(-18deg, #f47320 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f47320 50%, #444 50%, #444);
}
.progress-80 {
  background-image: linear-gradient(18deg, #f47320 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f47320 50%, #444 50%, #444);
}
.progress-90 {
  background-image: linear-gradient(54deg, #f47320 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f47320 50%, #444 50%, #444);
}
.progress-100 {
  background-image: linear-gradient(90deg, #f47320 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f47320 50%, #444 50%, #444);
}

.tbl-menu1 tr.dis_end td .progress-0 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-10 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-20 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-30 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-40 {
  background-image: linear-gradient(90deg, #444 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-50 {
  background-image: linear-gradient(-90deg, #834219 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-60 {
  background-image: linear-gradient(-54deg, #834219 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-70 {
  background-image: linear-gradient(-18deg, #834219 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-80 {
  background-image: linear-gradient(18deg, #834219 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-90 {
  background-image: linear-gradient(54deg, #834219 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #834219 50%, #444 50%, #444);
}
.tbl-menu1 tr.dis_end td .progress-100 {
  background-image: linear-gradient(90deg, #834219 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #834219 50%, #444 50%, #444);
}


@media screen and (min-width:374px) { /* iphone6 이상*/
	.box-header1{width:100%;height:40px;background:url(../img/bg_header1.png) repeat-x;background-size:cover;}
	.box-header2{position:relative;width:100%;height:49px;background:url(../img/bg_header2.png) repeat-x;background-size:100%;}
	.box-log{width:93.75%;height:33px;padding-top:7px;margin:0px auto;text-align:right;}
	.txt-name{display:inline-block; padding-left:5px;padding-top:2px;background:url(../img/bar.png) no-repeat left center;background-size:1px 10px;color:#fff;font-size:12px;}
	.btn-alarm{display:inline-block;position:relative;top:2px;width:15px;height:16px;margin-right:3px; background: url(../img/btn_alarm.png) no-repeat;background-size:100%;}
	.tit-h1{width:100%;height:49px;text-align:center;line-height:48px;}
	.tit-h1 img{width:160px;}
	.tbl-menu td.detail{padding-right:15px;font-size:16px;}
	.ico-new{display:block;position:absolute;top:0;left:10px;width:10px;height:10px;background:url(../img/ico_new.png) no-repeat;background-size:100%;}

	.ico-state1{display:inline-block;position:relative;top:0px;width:33px;height:22px;margin-right:5px;background: url(../img/ico_state1.png) no-repeat;background-size:100%;}
	.ico-state2{display:inline-block;position:relative;top:0px;width:33px;height:22px;margin-right:5px;background: url(../img/ico_state2.png) no-repeat;background-size:100%;}
	.ico-state3{display:inline-block;position:relative;top:0px;width:33px;height:22px;margin-right:5px;background: url(../img/ico_state3.png) no-repeat;background-size:100%;}
	.ico-state4{display:inline-block;position:relative;top:0px;width:33px;height:22px;margin-right:5px;background: url(../img/ico_state4.png) no-repeat;background-size:100%;}
	.ico-state5{display:inline-block;position:relative;top:0px;width:33px;height:22px;margin-right:5px;background: url(../img/ico_state5.png) no-repeat;background-size:100%;}
	
	.ico-y{display:inline-block;width:32px;height:34px;background: url(../img/ico_y.png) no-repeat;margin-top:1px;background-size:cover;}
	.ico-r{display:inline-block;width:32px;height:34px;background: url(../img/ico_r.png) no-repeat;margin-top:1px;background-size:cover;}
	.ico-g{display:inline-block;width:32px;height:34px;background: url(../img/ico_g.png) no-repeat;margin-top:1px;background-size:cover;}
	.ico-ys{display:inline-block;width:32px;height:34px;background: url(../img/ico_y.png) no-repeat;margin-top:1px;background-size:cover;}
	.ico-rs{display:inline-block;width:32px;height:34px;background: url(../img/ico_r.png) no-repeat;margin-top:1px;background-size:cover;}
	.ico-gs{display:inline-block;width:32px;height:34px;background: url(../img/ico_g.png) no-repeat;margin-top:1px;background-size:cover;}

	.dls-leader dt{float:left;width:50%;font-family:"NanumGothicBold";font-size:15px;color:#fff;}
	.menu-date{height:24px;padding-right:7px;background:#111;text-align:right;color:#999;font-size:11px;line-height:24px;}
	
	.lis-gnb li{float:left;width:25%;height:32px;}
	.lis-gnb li a{box-sizing:border-box;display:block;width:100%;height:30px;border-top:1px solid #555;border-bottom:1px solid #555;border-right:1px solid #555; text-align:center;font-size:13px;color:#888888;line-height:32px;}
	.lis-gnb li:first-child a{border-left:1px solid #555;}
	.lis-gnb li.active a{border-color:#888;border-top:4px solid #f47320;font-family: bold;color:#ffffff;line-height:24px;}

	.btn-logout{display:inline-block;width:64px;height:24px;background:url(../img/btn_logout.png) no-repeat;background-size:100%;}

	.progress-radial { 
	  position: relative;
	  width: 32px;
	  height: 32px;
	  border-radius: 50%;
	  border: 1px solid #444;
	  background-color: #f47320;
	}

	/* -------------------------------------
	 * Optional centered circle w/text
	 * ------------------------------------- */
	.progress-radial .overlay {
	  position: absolute;
	  width: 26px;
	  height: 26px;
	  background-color: #222222;
	  border-radius: 50%;
	  margin-left: 2.5px;
	  margin-top: 2.5px;
	  text-align: center;
	  line-height: 25px;
	  font-size: 10px;
	}
		
}

.highlightcolor {color:#fff!important;}
.highlighted { background: #ff8a00;border-radius:3px;color:#fff!important; }